html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ADD8E6;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}
